.input-container {
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-left: 2px;
    /* Añade un margen a la izquierda de cada botón */
}

.input-container p {
    margin-bottom: 0px;
    /* Esto añade un margen en la parte inferior de cada párrafo */
}

.input-short {
    width: 350px;
    /* Un ancho más pequeño para texto corto */
    height: 35px;
    /* Una altura más pequeña para texto corto */
}

.select-container {
    margin-bottom: 20px;
}

.input-paragraph {
    width: 350px;
    /* Un ancho más grande para párrafos */
    height: 100px;
    /* Una altura más grande para párrafos */
}