.input-container {
    margin-bottom: 5px; /* Añade un margen en la parte inferior de cada contenedor de entrada */
    display: flex; /* Esto hará que los elementos hijos de .input-container se alineen en una fila */
}
  
.button {
    margin-left: 90px; /* Añade un margen a la izquierda de cada botón */
}